ul.nav.nav-sidebar
    
    li
        a(href="/admin/posts") Posts
    li
        a(href="/admin/attachments") Images

    li
        a(href="/admin/menu") Menu
    li
        a(href="/admin/users") Users
    
    