ul.nav.nav-sidebar
    
    li
        a(href="/admin/posts") Posts
    li
        a(href="/admin/planning") Planning
    li
        a(href="/admin/attachments") Images
    li
        a(href="/admin/users") Utilisateurs
    
    