div.modal.fade#modal_video(role="dialog")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.pull-left Videos
                button(type="button" class="close pull-right" data-dismiss="modal")
                    //i.fa.fa-close
                    span.glyphicon.glyphicon-remove
            .modal-body
                
            .modal-footer

div.modal.fade#modal_image(role="dialog")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.pull-left Images
                button(type="button" class="close pull-right" data-dismiss="modal")
                    //i.fa.fa-close
                    span.glyphicon.glyphicon-remove
            .modal-body
                
            .modal-footer

div.modal.fade#modal_users(role="dialog")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.pull-left Users
                button(type="button" class="close pull-right" data-dismiss="modal")
                    span.glyphicon.glyphicon-remove
            .modal-body
                
            .modal-footer

div.modal.fade#modal_posts(role="dialog")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.pull-left Posts
                button(type="button" class="close pull-right" data-dismiss="modal")
                    span.glyphicon.glyphicon-remove
            .modal-body
                
            .modal-footer