extends ../layout

block header
    include ../inc/admin-nav
    
prepend content

    section.submit
   
        h3= title
        form(name="submit", action="/admin/posts/new", method="post")

            div.form-group
                label(for="title") Titre
                input(type="text", class="form-control", name="title", placeholder="Titre", value="")
            
            .row
                .col-md-4  
                    div.form-group
                        label(for="post_status") Status du post
                        select(name="post_status", class="form-control")
                            option(value="" disabled="true" selected="true") Selectionnez
                            option(value="brouillon") Brouillon
                            option(value="public") Public
                
                .col-md-4  
                    div.form-group
                        label(for="category") Catégorie
                        select(name="category", class="form-control")
                            option(value="" disabled="true" selected="true") Selectionnez
                            option(value="croisieres") Croisières
                            option(value="Convoyages") Convoyages
                            option(value="technique") Technique
                            option(value="reperages") Repérages
                .col-md-4  
                    div.form-group
                        label(for="post_order") Ordre
                        input(type="number", class="form-control", name="post_order" placeholder="" value="0")
                    
            .row
                .col-md-6
                    div.form-group
                        label(for="from") Du
                        input(type="date", class="form-control", name="from" placeholder="" value="2016-01-01")
                .col-md-6
                    div.form-group
                        label(for="to") Au
                        input(type="date", class="form-control", name="to" placeholder="" value="2016-01-01")

            div.form-group
                label(for="texte") Texte
                textarea(name="texte" class="form-control" rows="5")
                
       
            hr
            div.form-group 
                h3 
                    span Images 
                    a(href="/admin/attachments/attachments-table" class="ajax btn btn-info" data-target="#modal_image" data-input-target="images") Afficher les images  
                -var cl = "images";
                //-var enfants = posts;
                include ../attachments/attachments-table-select
            
            hr
            div.form-group 
                h3 
                    span Utilisateurs  
                    a(href="/admin/users/users-in-table" class="ajax btn btn-info" data-target="#modal_users" data-input-target="users_in") Afficher les utilisateurs
                -var cl = "users_in";
                //-var users = post.users_in;
                include ../users/users-in-table
            hr
            div.form-group          
                input(type="hidden" name="post_type" value="page")      
                input(type="submit", class="btn btn-lg btn-primary btn-block", value="Submit")



