article.col-md-4
    a(href="#{p.link}", target="")
        .card(role="button")
            if p.media
                -var bg_url = root_url+'/uploads/'+p.media.filename;
                .card-img.anime_md(style="background-image:url(#{bg_url});")
            .card-content
                .align_vh
                    div.w100
                        h3.anime.ts !{p.texte}
                        if p.subtitle
                            p.f24.anime.ts !{p.subtitle}