extends layout

block content
    .row
        .container-fluid
            .page-heading.col-md-12
                h1.title #{title}
                
    .row.grid
        .container-fluid
            each p in posts
                //pre #{p.images[0]}
                if p.images[0] && p.images[0].filename
                    - var image = root_url+"/uploads/"+p.images[0].filename;
                else
                    - var image = root_url+"/img/default.jpg";

                - var url = "/c/"+p.category+"/"+p.slug;
                include posts/card-3-category
