extends layout

block content
    .container-fluid
        .page-heading
            h1
                span.title #{title}
                
    .row
        .container-fluid
            each p in posts
               
                - var image = p.images[0].filename;
                - var url = "/c/"+p.category+"/"+p.slug;
                //pre #{image}
                include posts/card-3-category
