extends layout

block content
    .row
        .container-fluid
            .page-heading.col-md-12
                h1.title #{title}
                
    .row.grid
        .container-fluid
            each p in posts
                if p.images
                    
                    - var image = p.images[0].filename;
                    - var url = "/c/"+p.category+"/"+p.slug;
                else
                    - var url = root_url+"/img/default.jpg";
                //pre #{image}
                include posts/card-3-category
