footer
    .container-fluid
        .sep3
        p © COPYRIGHT 2016 <strong>WHIMSY</strong> - MADE WITH <i class="fa fa-heart" aria-hidden="true"></i> BY <strong>SOIXANTESEIZE</strong>

    #loader
      .flex
        .cssload-loading
          i
          i

